{% extends "base.html" %}

{% block title %}Kemaskini Pengundi{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='borang.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='button.css') }}">
{% endblock %}

{% block navbar %}
    {% include 'admin_navbar.html' %}
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <h4 class="{{ category }}">{{ message }}</h4>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h3>KEMASKINI PENGUNDI</h3>
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <table>
            <tr>
                <td>ID Pengundi</td>
                <td><input type="text" name="idPengundi" value="{{ pengundi.idPengundi }}"></td>
            </tr>
            <tr>
                <td>Nama Pengundi</td>
                <td><input type="text" name="namaPengundi" value="{{ pengundi.namaPengundi }}"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password" value="{{ pengundi.password }}"></td>
            </tr>
        </table>
        <button type="submit" class="update" name="submit">Update</button>
    </form>
{% endblock %}