{% extends "base.html" %}

{% block title %}Senarai Pengundi{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='senarai.css') }}">
{% endblock %}

{% block navbar %}
    {% include 'admin_navbar.html' %}
{% endblock %}

{% block content %}
    <table>
        <caption>SENARAI NAMA PENGUNDI</caption>
        <tr>
            <th>ID</th>
            <th>Nama</th>
            <th colspan="2">Tindakan</th>
        </tr>
        {% for pengundi in pengundi_list %}
            <tr>
                <td>{{ pengundi.idPengundi }}</td>
                <td class="nama">{{ pengundi.namaPengundi }}</td>
                <td>
                    <a href="{{ url_for('pengundi.pengundi_update', idpengundi=pengundi.idPengundi) }}">
                        <img src="{{ url_for('static', filename='imej/refresh.png') }}" alt="refresh icon">
                    </a>
                </td>
                <td>
                    <a href="javascript:padam('{{ pengundi.idPengundi }}');">
                        <img src="{{ url_for('static', filename='imej/delete.png') }}" alt="delete icon">
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block script %}
    <script>
        function padam(idPengundi) {
            if (confirm("Adakah anda ingin padam?")) {
                fetch(`/pengundi/delete/${idPengundi}`, {
                    method: 'DELETE',
                    headers: {
                        'X-CSRFToken': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                    }
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Delete failed');
                    }
                    return response.json();
                })
                .then(data => {
                    location.reload();
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert("Ralat: Gagal memadam");
                });
            }
        }
    </script>
{% endblock %}