{% extends "base.html" %}

{% block title %}Kemaskini Calon{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='borang.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='button.css') }}">
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <h4 class="{{ category }}">{{ message }}</h4>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h3>KEMASKINI CALON</h3>
    <form method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <table>
            <tr>
                <td>ID Calon</td>
                <td><input type="text" name="idCalon" value="{{ calon.idCalon }}"></td>
            </tr>
            <tr>
                <td>Nama Calon</td>
                <td><input type="text" name="namaCalon" value="{{ calon.namaCalon }}"></td>
            </tr>
            <tr>
                <td class="warna">Gambar</td>
                <td>
                    <input type="file" name="gambar" accept=".png, .jpg, .jpeg">
                    <img width="100" src="{{ url_for('static', filename='imej/' + calon.gambar) }}" alt="{{ calon.namaCalon }}">
                </td>
            </tr>
            <tr>
                <td>Moto</td>
                <td><input type="text" name="moto" value="{{ calon.moto }}"></td>
            </tr>
        </table>
        <button type="submit" class="update" name="submit">Update</button>
    </form>
{% endblock %}