<nav>
    <ul>
        <li>
            <a href="#"><b>ADMIN</b></a>
            <ul>
                <li><a href="#">Tambah</a></li>
                <li><a href="#">Senarai</a></li>
            </ul>
        </li>
    </ul>
    <ul>
        <li>
            <a href="#"><b>PENGUNDI</b></a>
            <ul>
                <li><a href="#">Tambah</a></li>
                <li><a href="#">Senarai</a></li>
                <li><a href="#">Carian</a></li>
            </ul>
        </li>
    </ul>
    <ul>
        <li>
            <a href="#"><b>CALON</b></a>
            <ul>
                <li><a href="#">Tambah</a></li>
                <li><a href="#">Senarai</a></li>
            </ul>
        </li>
    </ul>
    <ul>
        <li>
            <a href="#"><b>LAPORAN</b></a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="#"><b>IMPORT</b></a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="#"><b>LOG KELUAR</b></a>
        </li>
    </ul>
</nav>