<nav>
    <ul>
        <li>
            <a href="#"><b>ADMIN</b></a>
            <ul>
                <li><a href="{{ url_for('admin.admin_insert') }}">Tambah</a></li>
                <li><a href="{{ url_for('admin.admin_senarai') }}">Senarai</a></li>
            </ul>
        </li>
    </ul>
    <ul>
        <li>
            <a href="#"><b>PENGUNDI</b></a>
            <ul>
                <li><a href="{{ url_for('pengundi.pengundi_insert') }}">Tambah</a></li>
                <li><a href="{{ url_for('pengundi.pengundi_senarai') }}">Senarai</a></li>
                <li><a href="{{ url_for('pengundi.pengundi_carian') }}">Carian</a></li>
            </ul>
        </li>
    </ul>
    <ul>
        <li>
            <a href="#"><b>CALON</b></a>
            <ul>
                <li><a href="{{ url_for('calon.calon_insert') }}">Tambah</a></li>
                <li><a href="{{ url_for('calon.calon_senarai') }}">Senarai</a></li>
            </ul>
        </li>
    </ul>
    <ul>
        <li>
            <a href="#"><b>LAPORAN</b></a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="{{ url_for('import_data') }}"><b>IMPORT</b></a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="{{ url_for('logout') }}"><b>LOG KELUAR</b></a>
        </li>
    </ul>
</nav>