<!DOCTYPE html>
<html lang="ms-MY">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>{% block title %}{% endblock %} | SISTEM UNDIGITAL KELAB KKQ SMKDD1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
    {% block style %}
    {% endblock %}
</head>
<body>
    <header>
        <img class="tajuk" src="{{ url_for('static', filename='imej/tajuk.png') }}" alt="SISTEM UNDIGITAL KELAB KKQ SMKDD1">
    </header>
    <main>
        {% block navbar %}
        {% endblock %}
        {% block content %}
        {% endblock %}
    </main>
</body>
{% block script %}
{% endblock %}
</html>