{% extends "base.html" %}

{% block title %}Laman Utama{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='button.css') }}">
    <style>
        h4 {
            font-family: 'Inter';
            font-size: 0.75rem;
            font-weight: 700;
            text-align: center;
            color: black;
            width: 23.75rem;

            padding: 1.25rem;
            border-radius: 0.625rem;
            border: 0.125rem solid black;
            margin: 1.25rem auto 0px;
            background-color: #FEFEFE;
        }
    </style>
{% endblock %}

{% block navbar %}
    {% include 'pengundi_navbar.html' %}
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <h4 class="{{ category }}">{{ message }}</h4>
        {% endfor %}
    {% endif %}
{% endwith %}
<main>
    {% if current_user.is_authenticated and not is_admin %}
        <form action="{{ url_for('pengundi.pengundi_undi') }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="gambar">
                {% for calon in senarai_calon %}
                    {% if calon.idCalon != 'C00' %}
                        <figure>
                            <img class="home" src="{{ url_for('static', filename='imej/' + calon.gambar) }}" alt="{{ calon.namaCalon }}">
                            <figcaption>
                                <input type="hidden" name="idPengundi" value="{{ current_user.idPengundi }}">
                                <input type="radio" name="idCalon" value="{{ calon.idCalon }}">
                            </figcaption>
                        </figure>
                    {% endif %}
                {% endfor %}
            </div>
            <center>
            {% if sudah_mengundi %}
                <p>Anda telah mengundi untuk calon: {{ namaCalon }}</p>
            {% else %}
                <p class="arahan">Sila pilih calon yang anda ingin undi</p>
                <button type="submit" class="tambah" name="submit">Undi</button>
            {% endif %}
        </center>
        </form>
    {% else %}
        <div class="gambar">
            {% for calon in senarai_calon %}
                {% if calon.idCalon != 'C00' %}
                    <figure>
                        <img class="home" src="{{ url_for('static', filename='imej/' + calon.gambar) }}" alt="{{ calon.namaCalon }}">
                        <figcaption>{{ calon.namaCalon }}</figcaption>
                    </figure>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
</main>
{% endblock %}