{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='borang.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='button.css') }}">
{% endblock %}

{% block navbar %}
    {% include 'pengundi_navbar.html' %}
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <h4 class="{{ category }}">{{ message }}</h4>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h3>LOGIN</h3>
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <table>
            <tr>
                <td>ID Pengguna</td>
                <td><input type="text" name="idPengguna" required placeholder="Cth: U001"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password" required placeholder="Min 8 char"></td>
            </tr>
        </table>
        <button type="submit" class="login" name="submit">Log Masuk</button>
        <button type="button" class="batal" onclick="window.location.href='{{ url_for("signup") }}'">Daftar</button>
        <br><br>
        Belum ada idPengguna klik daftar
    </form>
{% endblock %}