<nav>
    {% if current_user.is_authenticated and is_admin %}
        <ul>
            <li>
                <a href="#"><b>ADMIN</b></a>
                <ul>
                    <li><a href="#">Tambah</a></li>
                    <li><a href="#">Senarai</a></li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                <a href="#"><b>PENGUNDI</b></a>
                <ul>
                    <li><a href="#">Tambah</a></li>
                    <li><a href="#">Senarai</a></li>
                    <li><a href="#">Carian</a></li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                <a href="#"><b>CALON</b></a>
                <ul>
                    <li><a href="#">Tambah</a></li>
                    <li><a href="#">Senarai</a></li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                <a href="#"><b>LAPORAN</b></a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="#"><b>IMPORT</b></a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="#"><b>LOG KELUAR</b></a>
            </li>
        </ul>
    {% else %}
        <ul>
            <li><a href="{{ url_for('index') }}"><b>RUANG UNDI</b></a></li>
        </ul>
        <ul>
            <li><a href="#"><b>PROFAIL</b></a></li>
        </ul>
        <ul>
            <li>
                {% if current_user.is_authenticated %}
                    <a href="#"><b>LOG KELUAR</b></a>
                {% else %}
                    <a href="#"><b>LOG MASUK</b></a>
                {% endif %}
            </li>
        </ul>
        {% if current_user.is_authenticated %}
            <h5>Selamat Datang {{ current_user.name }}</h5>
        {% endif %}
    {% endif %}
</nav>