<nav>
    <ul>
        <li><a href="{{ url_for('index') }}"><b>RUANG UNDI</b></a></li>
    </ul>
    <ul>
        <li><a href="{{ url_for('calon.calon_profil') }}"><b>PROFAIL</b></a></li>
    </ul>
    <ul>
        <li>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('logout') }}"><b>LOG KELUAR</b></a>
            {% else %}
                <a href="{{ url_for('login') }}"><b>LOG MASUK</b></a>
            {% endif %}
        </li>
    </ul>
    {% if current_user.is_authenticated %}
        <h5>Selamat Datang {{ current_user.namaPengundi }}</h5>
    {% endif %}
</nav>